<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
            I have about 2 years of experience as a software engineer, and have worked
            at a small organisation. While I'm a proficient full-stack
            developer, I have recently began working on infrastrucutre, assuming a dev ops role.
        </p>
        <p>
           I love building things.
           While hard engineering problems are often intrinsically fun to tackle,
           I'm most attracted to solving real customer problems with a business justification.
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
            Developed a user metric collection system in the main system of a corporation, leading to a better connection between the management team and the costumers, increasing costumer retention
    			</li>
          
          <li>
            Improved the CI/CD process of an organisation which lowered lead times by about 40%.
    			</li>
    			
		    </ul>
	    </div>
    </div>
  </div>
</section>
