<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My personal interests include:
        </p>
			<ul>
			  <li>
				 <b>Infrastrucutre automation</b>. I belive that automating the infrastructure is an important first step to achieve 'no downtime' web application, as it avoid human error as much as possible.
			  </li>
			  <li>
				  <b>Keyboards</b>. I've recently been in contact with the world of custom mechanical keyboards, I find it amazing that you can build your own keyboard to fit your specific needs and at the same time bringing you the best typing experience as possible. If you're typing on a keyboard for 8 hours a day, it better be a good experience.
			  </li>
			  <li>
				  <b>Exercise</b>. I think that physical exercise is one of the most important things in any one's life, as it improves you're well being, lowering the overall stress, and in turn improving your efficiency at work.
      </li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Recent Projects</h3>
		  <ul>
  			<li>
          OpenGidget is an open-source fork of Raspbian Linux that makes it easier to auto-provision a headless Raspberry PI,
          get it onto your WiFi network, and deploy simple Python and Ruby scripts that run at startup - all without needing to plug in a keyboard/monitor.
    		</li>
  			<li>
          My Medium blog covers my ongoing attempts to instrument and automate everything in my house.
  			</li>
  		    </ul>
  		    <h3>Other Things</h3>
  		    <ul>
  			<li>
           Volunteer at Boys and Girls club (since 2008)
  			</li>
  			<li>
  			  Active member of The Seattle Ruby on Rails Developers Meetup Group.
  			</li>
		   </ul>
      </div>
    </div>
  </div>
</section>
